
/* font family */

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
}

/* Some style */
#always {
    font-size: 65px;
    font-weight: 900;
}

#fresh {
    font-size: 65px;
    font-weight: 900;
    color: #E95A08;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #F5F8FF;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    background-color: #E95A08;
    color: #fff;
    font-weight: 800;
    font-size: 1rem;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Navbar Styles */
.navbar {
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 82px;
    width: 135px;
}

.menu {
    display: flex;
    gap: 48px;
}

#home {
    color: black;
    font-weight: 900;
}

.menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.3s;
}

.mobile-cart {
    display: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Banner Styles */
.banner {
    padding: 162px 0px 120px 0px;
}

.banner .container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.banner-content {
    flex: 1;
}

.banner-image {
    flex: 1;
}

.banner h1 {
    font-size: 2.5rem;
}

.banner p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
}

/* Plants Card Section Styles */
.plants {
    padding: 120px 0;
    text-align: center;
}
#fresh-text{
    color: #E95A08;
}

.plan-title {
    font-size: 50px;
}

.subtitle {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.plant-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    overflow: hidden;
    transition: transform 0.3s;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 1.2rem;
}

.price {
    font-weight: bold;
    color: black;
    margin: 10px 0;
}

/* Plant Badge Section Styles */
.plant-lover {
    padding: 60px 0;
}

.plant-lover .container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.plant-lover-image {
    flex: 1;
    position: relative;
}

.trusted-badge img {
    position: absolute;
    height: 286px;
    width: 286px;
    top: -100px;
    right: -100px;
}

.plant-lover-content {
    flex: 1;
}

.plant-lover-content h2 {
    color: black;
    font-size: 50px;
}

.plant-lover-content ul {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 30px;
}

/* Latest Deal Section  */

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.section-title h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.section-title span {
    color: #f97316;
}

.section-title p {
    color: #666;
    font-size: 1rem;
    max-width: 600px;
    margin: 10px auto 0;
}

.deals-wrapper {
    margin-bottom: 120px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    margin-top: 40px;
    flex-wrap: wrap;
}

.left-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.deal-card {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    width: 366px;
    height: 206px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.right-card {
    width: 700px;
    height: 425px;
}

.deal-content {
    position: relative;
    z-index: 2;
}

.deal-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.deal-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.deal-card a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}


/* Join Section Styles */
.join {
    padding: 170px 0;
    background-image: url('assets/news-letter-bg.png');
    background-size: cover;
    height: 535px;
    background-position: center;
    text-align: center;
}

.join h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.subscribe {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

.subscribe input {
    flex: 1;
    padding: 12px 20px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 1rem;
}

.subscribe button {
    background-color: #E95A08;
    height: 50px;
    width: 185px;
    color: #fff;
}
.btn-s{
    border: none;
    font-size: 1rem;
    font-weight: 800;
}
/* Footer Styles */
.footer {
    padding: 60px 0 0;
    margin-bottom: 20px;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-logo {
    flex: 1;
    min-width: 250px;
}


.footer-links {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
#footer-description{
    color: rgba(0, 0, 0, 0.5);
}

.link-group-icon{
    display: flex;
    justify-items: center;
    gap: 20px;
}
.link-group {
    flex: 1;
    min-width: 150px;
}

.link-group h4 {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.link-group a {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-bottom: 30px;
    transition: color 0.3s;
}


/* Responsive Styles */

/* Destop device */
@media (max-width: 1000px) {
    .menu {
        display: none;
    }

    .mobile-cart {
        display: block;
    }

    .banner .container,
    .plant-lover .container {
        flex-direction: column;
    }

    .banner-image {
        order: -1;
        margin-bottom: 30px;
    }

    .plant-cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .trusted-badge {
        display: none;
    }

    .footer .container {
        flex-direction: column;
    }
}


/* Mobile device */
@media (max-width: 576px) {
    .plant-cards {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    #always, #fresh{
        font-size: 40px;
    }
    .right-card{
        width: 365px;
        margin: 0 auto;
        height: 300px;
    }

    .subscribe {
        flex-direction: row;
    }

    .subscribe input {
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .subscribe button {
        width: 100%;
        height: 42px;
    }
    .btn{
        width: 100%;
        text-align: center;
        color: #fff;
        font-weight: 700;
    }
    .plant-lover-content h2{
        font-size: 30px;
    }
    .footer-links{
        flex-direction: column;
    }
}
