
/* font family */

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
}

/* Some style */
#always {
    font-size: 65px;
    font-weight: 900;
}

#fresh {
    font-size: 65px;
    font-weight: 900;
    color: #E95A08;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #F5F8FF;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    background-color: #E95A08;
    color: #fff;
    font-weight: 800;
    font-size: 1rem;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Navbar Styles */
.navbar {
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 82px;
    width: 135px;
}

.menu {
    display: flex;
    gap: 48px;
}

#home {
    color: black;
    font-weight: 900;
}

.menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.3s;
}

.mobile-cart {
    display: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Banner Styles */
.banner {
    padding: 162px 0px 120px 0px;
}

.banner .container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.banner-content {
    flex: 1;
}

.banner-image {
    flex: 1;
}

.banner h1 {
    font-size: 2.5rem;
}

.banner p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
}

/* Plants Card Section Styles */
.plants {
    padding: 120px 0;
    text-align: center;
}
#fresh-text{
    color: #E95A08;
}

.plan-title {
    font-size: 50px;
}

.subtitle {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.plant-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    overflow: hidden;
    transition: transform 0.3s;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 1.2rem;
}

.price {
    font-weight: bold;
    color: black;
    margin: 10px 0;
}

/* Plant Badge Section Styles */
.plant-lover {
    padding: 60px 0;
}

.plant-lover .container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.plant-lover-image {
    flex: 1;
    position: relative;
}

.trusted-badge img {
    position: absolute;
    height: 286px;
    width: 286px;
    top: -100px;
    right: -100px;
}

.plant-lover-content {
    flex: 1;
}

.plant-lover-content h2 {
    color: black;
    font-size: 50px;
}

.plant-lover-content ul {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 30px;
}
